<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>247894978562-lfjetbst2848i6r38gbsp3nbe0rtf74s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.247894978562-lfjetbst2848i6r38gbsp3nbe0rtf74s</string>
	<key>API_KEY</key>
	<string>AIzaSyCeFjcer58pcgXvyWQsAdynOtXNYxlm4vI</string>
	<key>GCM_SENDER_ID</key>
	<string>247894978562</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ph.jpdc.com</string>
	<key>PROJECT_ID</key>
	<string>g8te-pass</string>
	<key>STORAGE_BUCKET</key>
	<string>g8te-pass.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:247894978562:ios:8a3376f32d677fb7dcb71b</string>
</dict>
</plist>